
body{

    background-color: lightgray

}


h1{
    color: navy;

}

.h1bball{
    text-align: center
}




h2{
    font-family:'Courier New', Courier, monospace;
    color: navy ;
    
}

.darkcolor{
    background-color: navy !important;
  
}


h3{
    font-family:'Courier New', Courier, monospace;
    color: gray ;
}

li{
    font-family:'Courier New', Courier, monospace;
    color: gray;
}


a{
    color: royalblue;

}

.corner-anchor {
    position: absolute;
    top: 30px;
    left: 30px;
  }


  .container {
    display: flex;
    align-items: flex-start;
  }


  .video-container {
    flex: 1;
    margin-left: 40px

  }

  .left-div{
    
    flex: 1;
    margin-right: 10px
  }

.right-div{
    flex: 1; 
    margin-right: 20px;
    margin-left: 80 px;

}


  